

@font-face {
    font-family: 'trattetello'; /* Nom de la police */
    src: url('assets/Trattatello.ttf') format('truetype'); /* Chemin relatif vers le fichier .ttf */
    /* Vous pouvez également spécifier d'autres variantes, comme font-weight et font-style si nécessaire */
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#game {
    width: auto;
    margin: auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 100px;
    align-items: center;
}

.gameContainer {
    height: 460px;
}

#chosenName {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'trattetello';
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.plenty {
    color: rgba(255, 255, 255, 1)
}

.transparent {
    color: rgba(255, 255, 255, 0)
}


#chosenNumber {
    display: flex;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);  
}

.nameDisplayOn, .numberDisplayOn {
    animation: appear 0.2s ease forwards;
    opacity: 1;
}

.chosenNameDisplayOn, .chosenNumberDisplayOn {
    animation: appear 0.2s ease forwards;
    opacity: 1;
}

.chosenNameDisplayOff, .chosenNumberDisplayOff, .nameDisplayOff, .numberDisplayOff {
    animation: disappear 0.2s ease forwards;
    opacity: 0;
}

.filteredName, .filteredNumber {
    filter: saturate(0) brightness(0.2);
}

.namesAndNumbers {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto 0;
    list-style: none;
    font-size: 40px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.numberImage {
    width: 180px;
    height: 180px;
    border: 10px solid white;
    outline: 10px solid white;
    box-sizing: border-box;
    color: white;
}

.number:hover, .name:hover {
    filter: brightness(0.7);
}

.name {
    text-transform: uppercase;
    display: flex;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    font-size: 40px;
    cursor: pointer;
    border: 10px solid white;
    outline: 10px solid white;
}

.namesAndNumbers .ghost1 {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
}

.namesAndNumbers .mains {
    grid-column: 1;
    grid-row: 2;
}
.namesAndNumbers .simple {
    grid-column: 2;
    grid-row: 1;
}
.namesAndNumbers .number:nth-child(3){
    grid-column: 3;
    grid-row: 1;
}
.namesAndNumbers .trois {
    grid-column: 3;
    grid-row: 2;
}
.namesAndNumbers .ruade{
    grid-column: 4;
    grid-row: 1;
}
.namesAndNumbers .bruit {
    grid-column: 4;
    grid-row: 3;
}
.namesAndNumbers .menace {
    grid-column: 2;
    grid-row: 3;
}
.namesAndNumbers .double {
    grid-column: 3;
    grid-row: 4;
}

.namesAndNumbers .number:nth-child(6){
    grid-column: 2;
    grid-row: 2;
}
.namesAndNumbers .number:nth-child(8){
    grid-column: 4;
    grid-row: 2;
}
.namesAndNumbers .number:nth-child(9){
    grid-column: 1;
    grid-row: 3;
}
.namesAndNumbers .number:nth-child(11){
    grid-column: 3;
    grid-row: 3;
}
.namesAndNumbers .ghost2 {
    grid-column: 1;
    grid-row: 4;
    opacity: 0;
}
.namesAndNumbers .number:nth-child(14){
    grid-column: 2;
    grid-row: 4;
}

.namesAndNumbers .number:nth-child(16){
    grid-column: 4;
    grid-row: 4;
}

.numberDisplayOn, .nameDisplayOn {
    opacity: 1;
}

#testResults {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

}

#testButton, #resetButton {
    border-radius: 50%;
    border: solid 2px white;
    width: 80px;
    height: 80px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: none;
    cursor: pointer;
    
}
#testButton:hover, #resetButton:hover {
    color: grey;
    border-color: grey;
}


.mains {
    background-color: rgb(255, 65, 65)
}

.double {
    background-color: rgb(47, 175, 255)
}

.menace {
    background-color: rgb(255, 206, 47)
}

.ruade {
    background-color: rgb(11, 48, 255)
}

.bruit {
    background-color: rgb(131, 74, 0)
}

.trois {
    background-color: rgb(69, 152, 0)
}

.simple {
    background-color: rgb(174, 0, 227)
}

@keyframes appear {
    0% {
        height: 0
    }
    100% {
        height: 180px;
    }
}

@keyframes disappear {
    0% {
        height: 180px;
    }
    100% {
        height: 0;
    }
}